@model BaiTap04_InMemory_NopPhat.Models.PunishFiled

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PunishFiled</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunishTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunishTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfPunished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfPunished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPunishFiled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPunishFiled)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
