@model BaiTap04_InMemory_NopPhat.Models.PunishFiled

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PunishFiled</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunishTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunishTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfPunished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfPunished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPunishFiled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPunishFiled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
